/* Default Layout: 992px.
   Gutters: 24px.
   Outer margins: 48px.
   Leftover space for scrollbars @1024px: 32px.  */
	// Is grid centered on screen ?
	$less-grid-centered:true !default;
	$body-background:#ebebeb !default; 

	$body-color:#585858 !default;
	$body-font-size:17px !default;
	$body-line-height: 22px !default; 
	$body-font-family: Helvetica,Arial,Tahoma,sans-serif !default;

	$input-font-size:$body-font-size !default;
	$input-font-family:$body-font-family !default;
	$input-font-weight: normal !default;
	$input-color:$body-color !default;
	$input-line-height:1em !default;  
	$input-background:#ebebeb !default;

	$main-background:unquote("none repeat scroll 0 0 transparent") !default; 
		$content-background:unquote("none repeat scroll 0 0 transparent") !default;
		$sidebar-background:unquote("none repeat scroll 0 0 transparent") !default;
		$sidebar-color:$body-color !default;
	$header-background:unquote("none repeat scroll 0 0 transparent") !default;
	$footer-background:unquote("none repeat scroll 0 0 transparent") !default;  

	$link-color: #585858 !default;
	$link-hover-color: black !default;
	$link-active-color: black !default;  

	// Padding between menu elements
	$menu-item-padding:8px !default;
	// Padding between list elements 
	$list-padding:false !default;
	// Padding between list elements 
	$list-margin:24px !default;
	// Thumbs width for list elements 
	$list-thumb-width:220px !default; 
	// Thumbs height for list elements
	$list-thumb-height:220px !default;

	@mixin center($padding: unquote("0px")) {
		display:block;
		margin: 0 auto !important;
		padding: $padding;
	} 
#{$less-grid-element} { 
	@include grid(10); 
	@if $less-grid-centered == true {
		margin: 0 auto !important; 
	}
} 

// Global style definitions
h1 {@extend .huge;};
h2 {@extend .large};
h3 {@extend .bigger};
h4 {@extend .big};
small {@extend .small};
@include selection-color;
body {
	background: $body-background;
	color:$body-color;
	font-size:$body-font-size;
	line-height:$body-line-height; 
	font-family:$body-font-family;
	// Stops Mobile Safari from auto-adjusting font-sizes
  -webkit-tap-highlight-color: rgb(255,255,158);
	-webkit-text-size-adjust: 100%;
}
.wrapper-wide {
	width:100%;
	float:left;
	display:block;
	margin: 0;
	padding: 0;
}
#wrapper-wide-header {
	background: $header-background; 
}
 
#wrapper-wide-main {
	padding-top:48px;
	background: $main-background; 
}
#wrapper-wide-footer {
	background: $footer-background; 
}
.container {
	margin: 0;
	padding: 0;
	clear: both;
	position:relative;
} 
.content-sidebar {
	@include column(7);
	float:left;
}
aside {
	@include column(3, true);
}
.left {
	float: left;
}
.right {
	float: right;
}
  
