/* Header
-------------------------------------------------------------- */
@mixin logo($width, $height, $img: "/images/logo.png") {
	padding: 0;
	width: $width;
	height: $height;
	text-indent: -9999px;
	background: transparent url($img) 0 0 no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	float: none;
	margin: 0 auto;
	cursor:pointer;  
	a {
		display: block;
		width: 100%;
		height: 100%;
	}
}

#masterhead {
	float:right;
	margin: 0;
	padding: 0;
}
#locales,
#user-menu {
	float:left;
}
#locales {
	margin-left:10px;
}
#locales a,
#user-menu a {
	text-decoration: none;	
}
h2#site-title {
	clear:both;
	float: left;
	@extend .huge; 
	a {
	 text-decoration: none; 
	}
}
#main-menu {
	float:right;
	line-height:72px;
} 
#switch_user_identifier {
	position:fixed;
	left:0px;
	top:0px;
}