/* LIST
----------------------------------------------------*/
@import "compass/typography/lists/horizontal-list";
ul.list-view {
	@include horizontal-list-container;
	li { 
		//Setting $padding to false disables the padding between list elements
		@include horizontal-list-item($list-padding, "left");
		zoom: 1;
		margin-top:12px 0 12px 0px;
	}
	.inner {
		display: block;
		padding: 0;
		position: relative;
	 } 
	.entry-thumb { 
		display:block;
		height: $list-thumb-height;
		width: $list-thumb-width;
		overflow:hidden;
		background: #8C8C8C; 
		img {
			max-width: $list-thumb-width;
		}
	}
	.entry-description {
		display: block;
		font-weight: normal;
		margin: 0;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	abbr.dates,
	.entry-meta {
		font-size: 0.8em;
	} 
	h2.entry-title {
		display:block;
		font-size: $body-font-size;
		line-height: $body-line-height;
		padding: 0;
		margin: 0;
		a {
			padding: 0;
			margin: 0;
			text-overflow: ellipsis; 
			overflow: hidden; 
			white-space: nowrap;
			display: block;
		}
	}

	a.continue {
		@extend .small;
		display: block;
		margin: 0;
		padding: 0;
	}
} 