/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* @see http://iain.nl/using-sass-with-jquery-ui */
/* line 7, ../../app/stylesheets/less/_reset.scss */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em,
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaption, hgroup,
menu, footer, header, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 17, ../../app/stylesheets/less/_reset.scss */
article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video {
  display: block;
}

/* line 21, ../../app/stylesheets/less/_reset.scss */
a img {
  border: 0;
}

/* Default Layout: 992px.
   Gutters: 24px.
   Outer margins: 48px.
   Leftover space for scrollbars @1024px: 32px.  */
/* line 1, ../../app/stylesheets/less/typography/_16px_gko.scss */
.gigantic {
  font-size: 110px;
  line-height: 120px;
  letter-spacing: -2px;
}

/* line 7, ../../app/stylesheets/less/typography/_16px_gko.scss */
.huge, h1, h2#site-title {
  font-size: 42px;
  line-height: 48px;
}

/* line 12, ../../app/stylesheets/less/typography/_16px_gko.scss */
.large, h2 {
  font-size: 32px;
  line-height: 42px;
}

/* line 17, ../../app/stylesheets/less/typography/_16px_gko.scss */
.bigger, h3 {
  font-size: 24px;
  line-height: 36px;
}

/* line 22, ../../app/stylesheets/less/typography/_16px_gko.scss */
.big, h4 {
  font-size: 20px;
  line-height: 30px;
}

/* line 27, ../../app/stylesheets/less/typography/_16px_gko.scss */
body {
  font: 16px/24px Helvetica, Arial, sans-serif;
}

/* line 31, ../../app/stylesheets/less/typography/_16px_gko.scss */
.small, small, ul.list-view a.continue, aside .partial h3 {
  font-size: 13px;
  line-height: 18px;
}

/* Default Layout: 992px.
   Gutters: 24px.
   Outer margins: 48px.
   Leftover space for scrollbars @1024px: 32px.  */
/* line 48, ../../app/stylesheets/partials/_default.scss */
#body-container {
  width: 896px;
  padding: 72px 48px 84px;
  margin: 0 auto !important;
}

/* line 44, ../../app/stylesheets/less/_framework.scss */
::selection {
  background: #ffff9e;
}

/* line 45, ../../app/stylesheets/less/_framework.scss */
::-moz-selection {
  background: #ffff9e;
}

/* line 46, ../../app/stylesheets/less/_framework.scss */
img::selection {
  background: transparent;
}

/* line 47, ../../app/stylesheets/less/_framework.scss */
img::-moz-selection {
  background: transparent;
}

/* line 48, ../../app/stylesheets/less/_framework.scss */
body {
  -webkit-tap-highlight-color: #ffff9e;
}

/* line 62, ../../app/stylesheets/partials/_default.scss */
body {
  background: #f4f4f4;
  color: #1f1f1f;
  font-size: 13px;
  line-height: 1.5em;
  font-family: "Myriad Pro", Myriad, Tahoma, Helvetica, Arial, sans-serif;
  -webkit-tap-highlight-color: #ffff9e;
  -webkit-text-size-adjust: 100%;
}

/* line 72, ../../app/stylesheets/partials/_default.scss */
.wrapper-wide {
  width: 100%;
  float: left;
  display: block;
  margin: 0;
  padding: 0;
}

/* line 79, ../../app/stylesheets/partials/_default.scss */
#wrapper-wide-header {
  background: none repeat scroll 0 0 transparent;
}

/* line 83, ../../app/stylesheets/partials/_default.scss */
#wrapper-wide-main {
  padding-top: 48px;
  background: none repeat scroll 0 0 transparent;
}

/* line 87, ../../app/stylesheets/partials/_default.scss */
#wrapper-wide-footer {
  background: none repeat scroll 0 0 transparent;
}

/* line 90, ../../app/stylesheets/partials/_default.scss */
.container {
  margin: 0;
  padding: 0;
  clear: both;
  position: relative;
}

/* line 96, ../../app/stylesheets/partials/_default.scss */
.content-sidebar {
  width: 620px;
  margin-right: 24px;
  float: left;
}

/* line 100, ../../app/stylesheets/partials/_default.scss */
aside {
  width: 252px;
}

/* line 103, ../../app/stylesheets/partials/_default.scss */
.left {
  float: left;
}

/* line 106, ../../app/stylesheets/partials/_default.scss */
.right {
  float: right;
}

/* Links
-------------------------------------------------------------- */
/* line 5, ../../app/stylesheets/partials/_links.scss */
a {
  cursor: pointer;
  outline: none;
  -moz-outline-style: none;
  color: #5f5f5f;
}
/* line 18, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:visited {
  color: #5f5f5f;
}
/* line 21, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:focus {
  color: #07abdd;
}
/* line 24, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:hover {
  color: #07abdd;
}
/* line 27, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:active {
  color: #07abdd;
}

/* line 12, ../../app/stylesheets/partials/_links.scss */
a.previous {
  float: left;
}

/* line 15, ../../app/stylesheets/partials/_links.scss */
a.next {
  float: right;
}

/* MENU
----------------------------------------------------*/
/* line 4, ../../app/stylesheets/partials/_menu.scss */
ul.menu {
  z-index: 99999;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 7, ../../app/stylesheets/partials/_menu.scss */
ul.menu li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 8px;
  padding-right: 8px;
  zoom: 1;
}
/* line 48, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
ul.menu li:first-child, ul.menu li.first {
  padding-left: 0;
}
/* line 49, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
ul.menu li:last-child {
  padding-right: 0;
}
/* line 50, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
ul.menu li.last {
  padding-right: 0;
}
/* line 11, ../../app/stylesheets/partials/_menu.scss */
ul.menu li:hover {
  position: relative;
}
/* line 12, ../../app/stylesheets/partials/_menu.scss */
ul.menu li:first-child {
  padding-left: 0;
}
/* line 13, ../../app/stylesheets/partials/_menu.scss */
ul.menu li:last-child {
  padding-right: 0;
}
/* line 15, ../../app/stylesheets/partials/_menu.scss */
ul.menu li:hover > ul {
  visibility: visible;
}
/* line 18, ../../app/stylesheets/partials/_menu.scss */
ul.menu a {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: block;
  text-decoration: none !important;
}
/* line 26, ../../app/stylesheets/partials/_menu.scss */
ul.menu li.active a {
  color: #07abdd;
}
/* line 28, ../../app/stylesheets/partials/_menu.scss */
ul.menu ul.menu-branch {
  width: 220px;
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  background: #000;
  background-color: rgba(0, 0, 0, 0.8);
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 37, ../../app/stylesheets/partials/_menu.scss */
ul.menu ul.menu-branch li {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  width: 100%;
  border-bottom: 1px solid grey;
}
/* line 41, ../../app/stylesheets/partials/_menu.scss */
ul.menu ul.menu-branch li ul {
  left: 100%;
  top: 0;
}
/* line 45, ../../app/stylesheets/partials/_menu.scss */
ul.menu ul.menu-branch li:first-child {
  padding-top: 0;
}
/* line 46, ../../app/stylesheets/partials/_menu.scss */
ul.menu ul.menu-branch li:last-child {
  padding-bottom: 0;
}
/* line 48, ../../app/stylesheets/partials/_menu.scss */
ul.menu ul.menu-branch a {
  width: 100%;
  display: inline-block;
}

/* line 56, ../../app/stylesheets/partials/_menu.scss */
#sidebar ul.menu li {
  padding-left: 0px;
  margin-left: 0px;
  clear: both;
}

/* Forms
-------------------------------------------------------------- */
/* line 5, ../../app/stylesheets/partials/_form.scss */
input,
textarea,
button {
  background-color: #e9e8e8;
  color: #1f1f1f;
  line-height: 1em;
  font-family: "Myriad Pro", Myriad, Tahoma, Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
}

/* line 15, ../../app/stylesheets/partials/_form.scss */
.ui-field-contain {
  background: none repeat scroll 0 0 transparent;
  margin: 0;
  overflow: visible;
  padding: 0.4em;
  display: block;
  position: relative;
  border: none;
  clear: none;
}
/* line 27, ../../app/stylesheets/partials/_form.scss */
.ui-field-contain input.ui-date-text,
.ui-field-contain input.string,
.ui-field-contain input.password,
.ui-field-contain textarea {
  display: block;
  padding: 0.4em;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: none;
  width: 100%;
}
/* line 36, ../../app/stylesheets/partials/_form.scss */
.ui-field-contain textarea {
  height: 80px;
}
/* line 39, ../../app/stylesheets/partials/_form.scss */
.ui-field-contain label {
  font-weight: normal;
  margin: 0 0 .3em;
  display: inline-block;
  margin: 0 2% 0 0;
}
/* line 47, ../../app/stylesheets/partials/_form.scss */
.ui-field-contain input[type="text"].error_field,
.ui-field-contain input[type="password"].error_field,
.ui-field-contain textarea.error_field {
  background-color: #fbbeae;
}

/* line 53, ../../app/stylesheets/partials/_form.scss */
.ui-field-contain.buttons,
.ui-field-contain.policy {
  clear: both;
}

/* line 56, ../../app/stylesheets/partials/_form.scss */
.ui-field-contain.buttons input[type="submit"] {
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  background: #333333;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#555555,endColorstr=#333333);
  background: -webkit-gradient(linear, left top, left bottom, from(#555555), to(#333333));
  background: -moz-linear-gradient(top, #555555, #333333) repeat scroll 0 0 #333333;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  margin: 0;
  font-size: 0.8em;
  line-height: 1.6em;
  border: 1px solid #222222;
  color: #FFFFFF;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0 -1px 1px black;
  text-align: center;
  min-height: 20px;
  position: relative;
  display: inline-block;
  padding: 0 4px 0 4px;
  width: 100%;
  height: 28px;
}

/* line 82, ../../app/stylesheets/partials/_form.scss */
.ui-field-contain.buttons input[type="submit"]:hover {
  cursor: pointer;
}

/* FORM FILTER
----------------------------------------------------*/
/* line 88, ../../app/stylesheets/partials/_form.scss */
form.filter {
  /*background-color: #666666;*/
  display: block;
}
/* line 91, ../../app/stylesheets/partials/_form.scss */
form.filter .ui-field-contain {
  clear: none;
  display: inline;
  margin-left: 5px;
  position: static;
  float: left;
}
/* line 97, ../../app/stylesheets/partials/_form.scss */
form.filter .ui-field-contain input {
  width: auto;
  height: 22px;
  padding: 0 2px 0 2px;
  margin: 0;
  display: inline;
}
/* line 105, ../../app/stylesheets/partials/_form.scss */
form.filter .ui-field-contain label {
  display: inline-block;
  width: auto;
}
/* line 109, ../../app/stylesheets/partials/_form.scss */
form.filter .ui-field-contain select {
  min-width: 150px;
  height: 22px;
}
/* line 114, ../../app/stylesheets/partials/_form.scss */
form.filter .ui-field-contain.buttons {
  clear: none;
}
/* line 116, ../../app/stylesheets/partials/_form.scss */
form.filter .ui-field-contain.buttons input[type="submit"] {
  width: auto;
  display: inline-block;
  height: 24px;
  font-size: 0.9em;
}

/* LIST
----------------------------------------------------*/
/* line 4, ../../app/stylesheets/partials/_list.scss */
ul.list-view {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 6, ../../app/stylesheets/partials/_list.scss */
ul.list-view li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  zoom: 1;
  margin-top: 12px 0 12px 0px;
}
/* line 12, ../../app/stylesheets/partials/_list.scss */
ul.list-view .inner {
  display: block;
  padding: 0;
  position: relative;
}
/* line 17, ../../app/stylesheets/partials/_list.scss */
ul.list-view .entry-thumb {
  display: block;
  height: 197px;
  width: 280px;
  overflow: hidden;
  background: #8C8C8C;
}
/* line 23, ../../app/stylesheets/partials/_list.scss */
ul.list-view .entry-thumb img {
  max-width: 280px;
}
/* line 27, ../../app/stylesheets/partials/_list.scss */
ul.list-view .entry-description {
  display: block;
  font-weight: normal;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 35, ../../app/stylesheets/partials/_list.scss */
ul.list-view abbr.dates,
ul.list-view .entry-meta {
  font-size: 0.8em;
}
/* line 38, ../../app/stylesheets/partials/_list.scss */
ul.list-view h2.entry-title {
  display: block;
  font-size: 13px;
  line-height: 1.5em;
  padding: 0;
  margin: 0;
}
/* line 44, ../../app/stylesheets/partials/_list.scss */
ul.list-view h2.entry-title a {
  padding: 0;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: block;
}
/* line 54, ../../app/stylesheets/partials/_list.scss */
ul.list-view a.continue {
  display: block;
  margin: 0;
  padding: 0;
}

/* flash 
-----------------------------------------------------------*/
/* line 3, ../../app/stylesheets/partials/_flash.scss */
.flash {
  padding: 8px 8px 8px 30px;
  margin: 0 auto;
  position: relative;
  clear: both;
  color: #fff;
  min-height: 30px;
}
/* line 10, ../../app/stylesheets/partials/_flash.scss */
.flash a.icon {
  display: none;
}

/* line 15, ../../app/stylesheets/partials/_flash.scss */
.flash.alert {
  background-color: #cd1f44;
}

/* line 18, ../../app/stylesheets/partials/_flash.scss */
.flash.notice {
  background-color: #6bba17;
}

/* Footer
-------------------------------------------------------------- */
/* line 3, ../../app/stylesheets/partials/_footer.scss */
#footer {
  clear: both;
  overflow: hidden;
}

/* line 7, ../../app/stylesheets/partials/_footer.scss */
#site-infos {
  clear: both;
  margin-top: 18px;
}

/* line 11, ../../app/stylesheets/partials/_footer.scss */
a#site_by {
  background: url(/images/gko-core/logo_gecko_white.png) no-repeat scroll 0 1px transparent;
  padding-left: 24px;
  font-size: .8em;
}

/* Header
-------------------------------------------------------------- */
/* line 23, ../../app/stylesheets/partials/_header.scss */
#masterhead {
  float: right;
  margin: 0;
  padding: 0;
}

/* line 29, ../../app/stylesheets/partials/_header.scss */
#locales,
#user-menu {
  float: left;
}

/* line 32, ../../app/stylesheets/partials/_header.scss */
#locales {
  margin-left: 10px;
}

/* line 36, ../../app/stylesheets/partials/_header.scss */
#locales a,
#user-menu a {
  text-decoration: none;
}

/* line 39, ../../app/stylesheets/partials/_header.scss */
h2#site-title {
  clear: both;
  float: left;
}
/* line 43, ../../app/stylesheets/partials/_header.scss */
h2#site-title a {
  text-decoration: none;
}

/* line 47, ../../app/stylesheets/partials/_header.scss */
#main-menu {
  float: right;
  line-height: 72px;
}

/* line 51, ../../app/stylesheets/partials/_header.scss */
#switch_user_identifier {
  position: fixed;
  left: 0px;
  top: 0px;
}

/* line 1, ../../app/stylesheets/partials/_sidebar.scss */
aside {
  position: relative;
  float: left;
  color: #1f1f1f;
  background: none repeat scroll 0 0 transparent;
  min-height: 100%;
}
/* line 7, ../../app/stylesheets/partials/_sidebar.scss */
aside .sidebar-content {
  float: left;
  display: block;
}
/* line 11, ../../app/stylesheets/partials/_sidebar.scss */
aside h3, aside ul {
  margin: 0;
  padding: 0;
  clear: both;
  float: left;
}
/* line 17, ../../app/stylesheets/partials/_sidebar.scss */
aside ul {
  list-style: none outside none;
}
/* line 19, ../../app/stylesheets/partials/_sidebar.scss */
aside ul li {
  display: block;
  clear: left;
  float: left;
}
/* line 26, ../../app/stylesheets/partials/_sidebar.scss */
aside .partial {
  clear: both;
  float: left;
  display: block;
}
/* line 31, ../../app/stylesheets/partials/_sidebar.scss */
aside .partial li a {
  font-size: .8em;
  line-height: .8em;
}
/* line 38, ../../app/stylesheets/partials/_sidebar.scss */
aside .feed {
  clear: both;
  float: left;
}

/* Content
-------------------------------------------------------------- */
/* line 4, ../../app/stylesheets/partials/_html_text.scss */
#content div.html_text p {
  margin-bottom: .8em;
}
/* line 7, ../../app/stylesheets/partials/_html_text.scss */
#content div.html_text table {
  width: 100%;
  border-collapse: collapse;
  vertical-align: middle;
  text-align: left;
}
/* line 12, ../../app/stylesheets/partials/_html_text.scss */
#content div.html_text table tr {
  border-bottom: 1px solid #B7B6B6;
  padding-left: 6px;
}
/* line 15, ../../app/stylesheets/partials/_html_text.scss */
#content div.html_text table tr td {
  padding-left: 6px;
}
/* line 20, ../../app/stylesheets/partials/_html_text.scss */
#content div.html_text .images {
  width: 100%;
}
/* line 22, ../../app/stylesheets/partials/_html_text.scss */
#content div.html_text h2 {
  line-height: 24px;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 20px 0 12px 0;
  border-bottom: 1px solid #B7B6B6;
  font-weight: normal;
}
/* line 32, ../../app/stylesheets/partials/_html_text.scss */
#content div.html_text h3 {
  line-height: 24px;
  font-size: 14px;
  font-style: italic;
  letter-spacing: 0px;
  margin: 16px 0 4px 0;
  border-bottom: 1px dotted #B7B6B6;
}
/* line 41, ../../app/stylesheets/partials/_html_text.scss */
#content div.html_text ul {
  list-style-position: inside;
  margin-bottom: .8em;
}

/* Crumbs
-------------------------------------------------------------- */
/* line 3, ../../app/stylesheets/partials/_crumbs.scss */
#crumbs {
  clear: both;
}

/* line 1, ../../app/stylesheets/partials/_blog.scss */
.posts-archives {
  clear: both;
}
/* line 4, ../../app/stylesheets/partials/_blog.scss */
.posts-archives li a {
  font-size: .8em;
  line-height: .8em;
}

/* line 3, ../../app/stylesheets/partials/_galleries.scss */
#content ul.list-view.list-view-galleries li {
  width: 280px;
  margin-right: 25px;
  margin-bottom: 24px;
}
/* line 7, ../../app/stylesheets/partials/_galleries.scss */
#content ul.list-view.list-view-galleries li:nth-child(3n+3) {
  margin-right: 0px;
}

/* line 15, ../../app/stylesheets/partials/_galleries.scss */
#content.content-sidebar ul.list-view.list-view-galleries li {
  width: 280px;
  margin-right: 25px;
  margin-bottom: 24px;
}
/* line 19, ../../app/stylesheets/partials/_galleries.scss */
#content.content-sidebar ul.list-view.list-view-galleries li:nth-child(2n+2) {
  margin-right: 0px;
}

/* line 27, ../../app/stylesheets/partials/_galleries.scss */
#content.sidebar-left ul.list-view.list-view-galleries li {
  width: 280px;
  margin-left: 25px;
  margin-bottom: 24px;
}
/* line 31, ../../app/stylesheets/partials/_galleries.scss */
#content.sidebar-left ul.list-view.list-view-galleries li:nth-child(2n+2) {
  margin-left: 0px;
}

/* line 1, ../../app/stylesheets/partials/_slideshow.scss */
.galleria-container {
  position: relative;
  overflow: hidden;
  font: 11px/1.4 arial, sans-serif;
  color: #fff;
}
/* line 6, ../../app/stylesheets/partials/_slideshow.scss */
.galleria-container img {
  -moz-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

/* line 12, ../../app/stylesheets/partials/_slideshow.scss */
.galleria-stage {
  overflow: hidden;
  background: #000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* line 21, ../../app/stylesheets/partials/_slideshow.scss */
.galleria-container.fullscreen .galleria-stage {
  bottom: 0;
}

/* line 24, ../../app/stylesheets/partials/_slideshow.scss */
.galleria-bar {
  height: 31px;
  width: 90px;
  position: relative;
  top: 0;
  margin: auto;
  background: url(/images/bar.png) repeat-x;
  z-index: 3;
  border: 1px solid 		#707070;
  border-top: none;
  background: #49453E;
  font-weight: bold;
  color: #d8d8d8;
  text-shadow: 0 1px 1px #444;
  background-color: -moz-linear-gradient(top, #6c675e, #49453e);
  background-color: -webkit-gradient(linear, left top, left bottom, color-stop(0, #6c675e), color-stop(1, #49453e));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#6c675e', EndColorStr='#49453E')";
  -moz-border-radius-bottomleft: .6em;
  -webkit-border-bottom-left-radius: .6em;
  border-bottom-left-radius: .6em;
  -moz-border-radius-bottomright: .6em;
  -webkit-border-bottom-right-radius: .6em;
  border-bottom-right-radius: .6em;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  opacity: .8;
}

/* line 55, ../../app/stylesheets/partials/_slideshow.scss */
.galleria-s1, .galleria-s2, .galleria-s3, .galleria-s4 {
  background: url(/images/separator.png);
  height: 29px;
  width: 2px;
  position: absolute;
  left: 28px;
  bottom: 1px;
}

/* line 63, ../../app/stylesheets/partials/_slideshow.scss */
.galleria-s2 {
  left: 58px;
}

/* line 66, ../../app/stylesheets/partials/_slideshow.scss */
.galleria-s3 {
  right: 29px;
  left: auto;
}

/* line 70, ../../app/stylesheets/partials/_slideshow.scss */
.galleria-s4 {
  right: 58px;
  left: auto;
}

/* line 74, ../../app/stylesheets/partials/_slideshow.scss */
.galleria-progress {
  height: 2px;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  background: #aaa;
  opacity: .5;
  z-index: 3;
  -ms-filter: "alpha(opacity=50)";
  filter: alpha(opacity=50);
}

/* line 86, ../../app/stylesheets/partials/_slideshow.scss */
.galleria-thumblink, .galleria-fullscreen, .galleria-play, .galleria-popout {
  width: 29px;
  height: 29px;
  position: absolute;
  left: 0;
  bottom: 1px;
  background: url(/images/thumbs.png) no-repeat 50% 50%;
  cursor: pointer;
}

/* line 95, ../../app/stylesheets/partials/_slideshow.scss */
.galleria-fullscreen, .galleria-popout {
  left: auto;
  right: 0;
  background-image: url(/images/fullscreen.png);
  background-position: 8px 7px;
}

/* line 101, ../../app/stylesheets/partials/_slideshow.scss */
.galleria-popout {
  background-image: url(/images/popout.png);
  right: 30px;
  background-position: 50% 50%;
}

/* line 106, ../../app/stylesheets/partials/_slideshow.scss */
.galleria-play {
  left: 30px;
  background-image: url(/images/playpause.png);
  background-position: 10px 9px;
}

/* line 111, ../../app/stylesheets/partials/_slideshow.scss */
.galleria-play.playing {
  background-position: 10px -91px;
}

/* line 114, ../../app/stylesheets/partials/_slideshow.scss */
.galleria-fullscreen.open {
  background-position: 8px -93px;
}

/* line 117, ../../app/stylesheets/partials/_slideshow.scss */
.galleria-container.notouch .galleria-thumblink:hover, .galleria-container.touch .galleria-thumblink:active, .galleria-thumblink.open, .galleria-container.notouch .galleria-fullscreen:hover, .galleria-container.touch .galleria-fullscreen:active, .galleria-container.notouch .galleria-play:hover, .galleria-container.touch .galleria-play:active, .galleria-container.notouch .galleria-popout:hover, .galleria-container.touch .galleria-popout:active {
  background-color: #000;
}

/* line 120, ../../app/stylesheets/partials/_slideshow.scss */
.galleria-thumbnails-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  background: url(/images/bg.png);
  z-index: 2;
}

/* line 129, ../../app/stylesheets/partials/_slideshow.scss */
.galleria-thumbnails-list {
  position: absolute!important;
  top: 10px;
  right: 10px;
  left: 10px;
  bottom: 41px;
  overflow: auto!important;
}

/* line 137, ../../app/stylesheets/partials/_slideshow.scss */
.galleria-thumbnails .galleria-image {
  width: 170px;
  height: 110px;
  float: left;
  margin: 0 7px 7px 0;
  border: 3px solid #fff;
  cursor: pointer;
}

/* line 145, ../../app/stylesheets/partials/_slideshow.scss */
.galleria-container.notouch .galleria-thumbnails .galleria-image:hover, .galleria-container.touch .galleria-thumbnails .galleria-image:active {
  opacity: .9;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
}

/* line 151, ../../app/stylesheets/partials/_slideshow.scss */
.galleria-info {
  position: absolute;
  overflow: hidden;
  height: 29px;
  line-height: 29px;
  left: 70px;
  right: 70px;
  bottom: 1px;
  color: #bbb;
}

/* line 161, ../../app/stylesheets/partials/_slideshow.scss */
.galleria-info > *, .galleria-info-text > * {
  display: inline;
}

/* line 164, ../../app/stylesheets/partials/_slideshow.scss */
.galleria-info-title {
  color: #fff;
  font-weight: bold;
  padding: 0 10px;
}

/* line 169, ../../app/stylesheets/partials/_slideshow.scss */
.galleria-info-text {
  padding-left: 10px;
}

/* line 172, ../../app/stylesheets/partials/_slideshow.scss */
.galleria-counter {
  background: url(/images/separator.png) no-repeat 100% 0;
  display: inline-block;
  *display: inline;
  padding-right: 10px;
  _height: 29px;
  zoom: 1;
}

/* line 179, ../../app/stylesheets/partials/_slideshow.scss */
.galleria-loader {
  width: 48px;
  height: 48px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -24px 0 0 -24px;
  z-index: 2;
  display: none;
  background: black url(/images/loader.gif) no-repeat 50% 50%;
  opacity: .8;
  -ms-filter: "alpha(opacity=80)";
  filter: alpha(opacity=80);
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}

/* line 196, ../../app/stylesheets/partials/_slideshow.scss */
.galleria-image-nav {
  position: absolute;
  top: 50%;
  margin-top: -30px;
  width: 100%;
  height: 60px;
  left: 0;
}

/* line 204, ../../app/stylesheets/partials/_slideshow.scss */
.galleria-image-nav-left, .galleria-image-nav-right {
  cursor: pointer;
  width: 60px;
  height: 60px;
  position: absolute;
  left: 30px;
  z-index: 2;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  background: black url(/images/custom/p.gif) no-repeat 50% 50%;
  background: rgba(73, 69, 62, 0.7) url(/images/p.gif) no-repeat 50% 50%;
}

/* line 217, ../../app/stylesheets/partials/_slideshow.scss */
.galleria-image-nav-right {
  left: auto;
  right: 30px;
  background: black url(/images/custom/n.gif) no-repeat 50% 50%;
  background: rgba(73, 69, 62, 0.7) url(/images/n.gif) no-repeat 50% 50%;
}

/* line 229, ../../app/stylesheets/partials/_slideshow.scss */
.galleria-thumb-nav-left, .galleria-thumb-nav-right {
  cursor: pointer;
  display: none;
  background-position: -495px 5px;
  position: absolute;
  left: 0;
  top: 0;
  height: 40px;
  width: 23px;
  z-index: 3;
  opacity: .8;
}

/* line 241, ../../app/stylesheets/partials/_slideshow.scss */
.galleria-thumb-nav-right {
  background-position: -578px 5px;
  border-right: none;
  right: 0;
  left: auto;
}

/* line 247, ../../app/stylesheets/partials/_slideshow.scss */
.galleria-thumbnails-container .disabled, .galleria-thumbnails-container .disabled:hover, .galleria-thumbnails-container .disabled:active {
  opacity: .2;
  cursor: default;
}

/* line 251, ../../app/stylesheets/partials/_slideshow.scss */
.galleria-container.notouch .galleria-thumb-nav-left:hover, .galleria-container.touch .galleria-thumb-nav-left:active, .galleria-container.notouch .galleria-thumb-nav-right:hover, .galleria-container.touch .galleria-thumb-nav-right:active {
  opacity: 1;
  background-color: #111;
}

/* line 255, ../../app/stylesheets/partials/_slideshow.scss */
.galleria-carousel .galleria-thumb-nav-left, .galleria-carousel .galleria-thumb-nav-right {
  display: block;
}

/* line 258, ../../app/stylesheets/partials/_slideshow.scss */
.galleria-lightbox-content {
  background: url(/images/loader_pos.gif) no-repeat 50% 50%;
}

/*-- shared styles ------------------------------------*/
/* line 50, ../../app/stylesheets/screen.scss */
.uppercase_font_style, .menu_center ul, #pipe-menu ul, #primary-menu ul.menu, #pipe-menu ul.menu, .ui-field-contain label {
  line-height: 24px;
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

/* line 56, ../../app/stylesheets/screen.scss */
.menu_center, #pipe-menu {
  overflow: hidden;
  clear: both;
  float: none;
  text-align: center;
}
/* line 61, ../../app/stylesheets/screen.scss */
.menu_center ul, #pipe-menu ul {
  float: left;
  position: relative;
  left: 50%;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: visible;
}
/* line 70, ../../app/stylesheets/screen.scss */
.menu_center ul li, #pipe-menu ul li {
  float: left;
  position: relative;
  right: 50%;
  display: block;
  margin: 0;
  padding: 0 0 0 48px;
}
/* line 77, ../../app/stylesheets/screen.scss */
.menu_center ul li:first-child, #pipe-menu ul li:first-child {
  padding-left: 0;
  background: none;
}

/*-- layout structure ------------------------------*/
/* line 85, ../../app/stylesheets/screen.scss */
body {
  *zoom: 1;
  background: #f4f4f4 url(/images/bg.jpg) 0 0 repeat-x;
}
/* line 38, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
body:after {
  content: "";
  display: table;
  clear: both;
}
/* line 44, ../../app/stylesheets/less/_framework.scss */
body ::selection {
  background: #78e6ff;
}
/* line 45, ../../app/stylesheets/less/_framework.scss */
body ::-moz-selection {
  background: #78e6ff;
}
/* line 46, ../../app/stylesheets/less/_framework.scss */
body img::selection {
  background: transparent;
}
/* line 47, ../../app/stylesheets/less/_framework.scss */
body img::-moz-selection {
  background: transparent;
}
/* line 48, ../../app/stylesheets/less/_framework.scss */
body body {
  -webkit-tap-highlight-color: #78e6ff;
}

/* line 90, ../../app/stylesheets/screen.scss */
#body-container {
  min-width: 896px;
  padding-top: 0px;
}

/* line 96, ../../app/stylesheets/screen.scss */
#wrapper-wide-main {
  padding-top: 36px;
  min-height: 500px;
  background: transparent url(/images/col_bg.jpg) 0 0 no-repeat;
}

/* line 101, ../../app/stylesheets/screen.scss */
#wrapper-wide-footer {
  margin: 60px 0 0 0;
  border-top: 1px solid #B7B6B6;
  padding: 15px 0 40px 0;
  width: 100%;
  color: #868384;
  text-align: center;
  font-size: 12px;
}

/*-- sidebar ---------------------------------------*/
/* line 111, ../../app/stylesheets/screen.scss */
aside {
  margin-top: 36px 0 0 24px;
}
/* line 114, ../../app/stylesheets/screen.scss */
aside .partial {
  margin-top: 24px;
}

/* line 121, ../../app/stylesheets/screen.scss */
.sidebar-content h1.page-title {
  margin-top: 0px;
}

/*-- header ---------------------------------------*/
/* line 125, ../../app/stylesheets/screen.scss */
#header {
  height: 300px;
}

/* line 128, ../../app/stylesheets/screen.scss */
#site-title-container {
  margin-top: 68px;
  float: left;
}

/* line 132, ../../app/stylesheets/screen.scss */
#logo {
  float: left;
}

/* line 135, ../../app/stylesheets/screen.scss */
h2#site-title {
  margin-top: -20px;
  padding: 0;
  width: 542px;
  height: 166px;
  text-indent: -9999px;
  background: transparent url("/images/site_title.png") 0 0 no-repeat;
  clear: both;
  float: left;
}

/* line 145, ../../app/stylesheets/screen.scss */
h4#site-subtitle {
  margin-top: 4px;
  padding: 0;
  width: 461px;
  height: 15px;
  text-indent: -9999px;
  background: transparent url("/images/site_subtitle.png") 0 0 no-repeat;
  clear: both;
  float: left;
}

/* line 155, ../../app/stylesheets/screen.scss */
#demo_link {
  margin-top: -24px;
  clear: both;
  float: left;
}

/* line 160, ../../app/stylesheets/screen.scss */
#masterhead {
  float: right;
  margin: 0;
  padding-top: 8px;
}

/*-- menus ---------------------------------------*/
/* line 166, ../../app/stylesheets/screen.scss */
#primary-menu {
  margin: 27px 0 0 0;
  padding: 64px 0 9px 0;
  float: right;
}
/* line 170, ../../app/stylesheets/screen.scss */
#primary-menu ul.menu {
  float: right;
}
/* line 173, ../../app/stylesheets/screen.scss */
#primary-menu ul.menu li {
  clear: both;
  width: 100%;
  padding-left: 0px;
}
/* line 179, ../../app/stylesheets/screen.scss */
#primary-menu ul.menu li.active {
  color: white;
}
/* line 182, ../../app/stylesheets/screen.scss */
#primary-menu ul.menu a {
  color: #8e8e8e;
}
/* line 18, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
#primary-menu ul.menu a:visited {
  color: #8e8e8e;
}
/* line 21, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
#primary-menu ul.menu a:focus {
  color: #07abdd;
}
/* line 24, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
#primary-menu ul.menu a:hover {
  color: #07abdd;
}
/* line 27, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
#primary-menu ul.menu a:active {
  color: white;
}

/* line 188, ../../app/stylesheets/screen.scss */
#secondary-menu ul.menu {
  float: right;
  width: 252px;
}
/* line 192, ../../app/stylesheets/screen.scss */
#secondary-menu ul.menu li {
  display: block;
  margin: 0;
  padding: 0;
  background: none;
  float: left;
  border-bottom: 1px solid #DBDBDB !important;
  width: 100%;
}
/* line 201, ../../app/stylesheets/screen.scss */
#secondary-menu ul.menu li.active {
  background: #f4f4f4;
}
/* line 204, ../../app/stylesheets/screen.scss */
#secondary-menu ul.menu a {
  display: block;
  line-height: 54px;
  height: 54px;
  font-size: 16px;
}
/* line 209, ../../app/stylesheets/screen.scss */
#secondary-menu ul.menu a div.text {
  padding-left: 60px;
  padding-right: 12px;
}
/* line 213, ../../app/stylesheets/screen.scss */
#secondary-menu ul.menu a span.icon {
  position: absolute;
  background: transparent url(/images/icons.png) 0 0 no-repeat;
  width: 54px;
  height: 54px;
  overflow: hidden;
}
/* line 222, ../../app/stylesheets/screen.scss */
#secondary-menu ul.menu a#simple span.icon {
  background-position: -54px 0;
}
/* line 225, ../../app/stylesheets/screen.scss */
#secondary-menu ul.menu a#diaporama span.icon {
  background-position: -108px 0;
}
/* line 228, ../../app/stylesheets/screen.scss */
#secondary-menu ul.menu a#design span.icon {
  background-position: -162px 0;
}
/* line 231, ../../app/stylesheets/screen.scss */
#secondary-menu ul.menu a#referencement span.icon {
  background-position: -216px 0;
}
/* line 234, ../../app/stylesheets/screen.scss */
#secondary-menu ul.menu a#multilingue span.icon {
  background-position: -270px 0;
}
/* line 237, ../../app/stylesheets/screen.scss */
#secondary-menu ul.menu a#host span.icon {
  background-position: -324px 0;
}
/* line 240, ../../app/stylesheets/screen.scss */
#secondary-menu ul.menu a#mobile span.icon {
  background-position: -378px 0;
}
/* line 243, ../../app/stylesheets/screen.scss */
#secondary-menu ul.menu a#module span.icon {
  background-position: -432px 0;
}
/* line 246, ../../app/stylesheets/screen.scss */
#secondary-menu ul.menu a#help span.icon {
  background-position: -486px 0;
}
/* line 249, ../../app/stylesheets/screen.scss */
#secondary-menu ul.menu a#sur_mesure span.icon {
  background-position: -540px 0;
}
/* line 252, ../../app/stylesheets/screen.scss */
#secondary-menu ul.menu a#social span.icon {
  background-position: -594px 0;
}
/* line 255, ../../app/stylesheets/screen.scss */
#secondary-menu ul.menu a#stat span.icon {
  background-position: -648px 0;
}
/* line 258, ../../app/stylesheets/screen.scss */
#secondary-menu ul.menu a#pack_photograph span.icon {
  background: transparent url(/images/pack_icons.png) 0 0 no-repeat;
  background-position: -54px 0px;
}
/* line 264, ../../app/stylesheets/screen.scss */
#secondary-menu ul.menu a#pack_restaurants span.icon {
  background: transparent url(/images/pack_icons.png) 0 0 no-repeat;
  background-position: -108px 0px;
}
/* line 271, ../../app/stylesheets/screen.scss */
#secondary-menu ul.menu a#pack_villas span.icon {
  background: transparent url(/images/pack_icons.png) 0 0 no-repeat;
  background-position: -270px 0px;
}
/* line 277, ../../app/stylesheets/screen.scss */
#secondary-menu ul.menu a#pack_hotels span.icon {
  background: transparent url(/images/pack_icons.png) 0 0 no-repeat;
  background-position: 0px 0px;
}
/* line 283, ../../app/stylesheets/screen.scss */
#secondary-menu ul.menu a#pack_realties span.icon {
  background: transparent url(/images/pack_icons.png) 0 0 no-repeat;
  background-position: -216px 0px;
}
/* line 289, ../../app/stylesheets/screen.scss */
#secondary-menu ul.menu a#pack_ecommerce span.icon {
  background: transparent url(/images/pack_icons.png) 0 0 no-repeat;
  background-position: -162px 0px;
}
/* line 295, ../../app/stylesheets/screen.scss */
#secondary-menu ul.menu a#pack_liberal span.icon {
  background: transparent url(/images/pack_icons.png) 0 0 no-repeat;
  background-position: -324px 0px;
}
/* line 301, ../../app/stylesheets/screen.scss */
#secondary-menu ul.menu a#pack_artisan span.icon {
  background: transparent url(/images/pack_icons.png) 0 0 no-repeat;
  background-position: -378px 0px;
}
/* line 307, ../../app/stylesheets/screen.scss */
#secondary-menu ul.menu a#pack_designers span.icon {
  background: transparent url(/images/pack_icons.png) 0 0 no-repeat;
  background-position: -432px 0px;
}

/* line 318, ../../app/stylesheets/screen.scss */
#pipe-menu ul.menu {
  text-transform: capitalize;
  font-style: italic;
  letter-spacing: 0px;
}

/* line 326, ../../app/stylesheets/screen.scss */
h1.page-title {
  text-transform: normal;
  padding: 0 0 0 0;
  margin: 0 0 10px 0;
  font-size: 18px;
  font-weight: normal;
  letter-spacing: 1px;
  line-height: 1.4;
  text-shadow: white 0px -1px 1px;
  font-size: 33px;
  color: black;
  padding: 0 0 24px 0;
  line-height: 1.6em;
}

/*-- show ----------------------------------*/
/* line 341, ../../app/stylesheets/screen.scss */
.metas {
  font-size: .9em;
  line-height: 1.8em;
  margin: 27px 0 0 0;
  border-top: 1px solid #B7B6B6;
  padding: 8px 0 9px 0;
}

/* line 348, ../../app/stylesheets/screen.scss */
.next-previous {
  margin: 27px 0 0 0;
  border-top: 1px solid #B7B6B6;
  padding: 8px 0 9px 0;
  display: block;
  clear: both;
}

/* line 355, ../../app/stylesheets/screen.scss */
.next-previous-link, .next, .previous {
  background: transparent url(/images/next-prev.gif) right 0 no-repeat;
  height: 12px;
  text-decoration: none;
  line-height: 1;
  font-size: 11px;
  text-transform: uppercase;
}

/* line 363, ../../app/stylesheets/screen.scss */
.next {
  float: right;
  padding-right: 22px;
}

/* line 368, ../../app/stylesheets/screen.scss */
.previous {
  float: left;
  padding-left: 22px;
  background-position: left -24px;
}

/* line 374, ../../app/stylesheets/screen.scss */
#content {
  margin-left: 48px;
  width: 572px;
  position: relative;
}
/* line 379, ../../app/stylesheets/screen.scss */
#content div.html_text {
  padding-right: 24px;
  font-size: 14px;
  line-height: 20px;
  color: #777;
}
/* line 386, ../../app/stylesheets/screen.scss */
#content div.html_text h2 {
  font-weight: bold;
  text-transform: none;
  border-bottom: none;
  font-weight: normal;
  letter-spacing: 0;
  color: black;
  font-size: 18px;
  padding: 0 0 0 0;
  line-height: 24px;
  border: none;
}
/* line 399, ../../app/stylesheets/screen.scss */
#content div.html_text .demo-link {
  position: absolute;
  right: 0px;
  top: 6px;
  background-color: #698C2E !important;
  background-image: -moz-linear-gradient(top, #07abdd, #066396) !important;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #07abdd), color-stop(1, #066396)) !important;
  border-top-color: #18C5ED;
  border-bottom-color: #043B59;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  border-style: solid;
  border-width: 1px 0 0 0;
  -moz-box-shadow: 0px 0px 8px #15181b;
  -webkit-box-shadow: 0px 0px 8px #15181b;
  box-shadow: 0px 0px 8px #15181b;
  margin-bottom: 5px;
  padding: 8px;
  text-transform: uppercase;
  text-shadow: 0px 1px 2px #393939;
  color: white !important;
  font-weight: bold;
  line-height: 2.4em;
  clear: both;
  font-size: 10px;
  text-decoration: none;
}
/* line 427, ../../app/stylesheets/screen.scss */
#content div.html_text .rates {
  background-color: #698C2E !important;
  background-image: -moz-linear-gradient(top, #07abdd, #066396) !important;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #07abdd), color-stop(1, #066396)) !important;
  border-top-color: #18C5ED;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  text-align: center;
  border-style: solid;
  border-width: 1px 0 0 0;
  -moz-box-shadow: 0px 0px 8px #15181b;
  -webkit-box-shadow: 0px 0px 8px #15181b;
  box-shadow: 0px 0px 8px #15181b;
  margin-bottom: 5px;
  padding: 8px;
  color: white !important;
  clear: both;
  display: block;
}
/* line 444, ../../app/stylesheets/screen.scss */
#content div.html_text .rates span.price {
  font-size: 34px;
  font-weight: bold;
  text-shadow: 0px 1px 2px #393939;
}

/*-- Index ---------------------*/
/* line 454, ../../app/stylesheets/screen.scss */
ul.list-view h2.entry-title {
  text-transform: uppercase;
}
/* line 455, ../../app/stylesheets/screen.scss */
ul.list-view .entry-links {
  margin-top: 8px;
}
/* line 458, ../../app/stylesheets/screen.scss */
ul.list-view a.continue {
  background: transparent url(/images/next-prev.gif) right 0 no-repeat;
  height: 12px;
  text-decoration: none;
  line-height: 1;
  font-size: 11px;
  text-transform: uppercase;
  float: right;
  padding-right: 22px;
}

/*-- forms ------------------------------*/
/* line 480, ../../app/stylesheets/screen.scss */
.ui-field-contain input.ui-date-text,
.ui-field-contain input.string,
.ui-field-contain input.password,
.ui-field-contain select,
.ui-field-contain textarea {
  margin: 0 5px 0 0;
  border: 1px solid #B7B6B6;
  padding: 6px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}
/* line 487, ../../app/stylesheets/screen.scss */
.ui-field-contain input:focus,
.ui-field-contain textarea:focus {
  outline: none;
  background: #efeeee;
  border: 1px solid #a4a2a2;
}

/* line 493, ../../app/stylesheets/screen.scss */
input[type="button"], input[type="submit"], button {
  cursor: pointer;
  vertical-align: middle;
  margin: 0;
  border: 0;
  padding: 6px 9px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  background: #868384;
}

/* line 509, ../../app/stylesheets/screen.scss */
iframe {
  position: absolute;
  right: 0px;
}

/*-- home ------------------------------*/
/* line 515, ../../app/stylesheets/screen.scss */
body#home #content {
  width: 896px;
  margin-left: 0px;
}
/* line 519, ../../app/stylesheets/screen.scss */
body#home #wrapper-wide-main {
  padding-top: 0px;
  background: none;
}
/* line 523, ../../app/stylesheets/screen.scss */
body#home #signup {
  width: 268px;
  font-size: 30px !important;
  padding: 0 0 5px 0 !important;
  line-height: 2.2em;
}
/* line 530, ../../app/stylesheets/screen.scss */
body#home #know_more {
  clear: both;
}
/* line 533, ../../app/stylesheets/screen.scss */
body#home #why {
  clear: both;
  background: #07abdd;
  width: 100%;
  padding: 12px 0 12px 0;
  color: white;
  overflow: hidden;
  -moz-border-radius-bottomleft: 24px;
  -webkit-border-bottom-left-radius: 24px;
  -o-border-bottom-left-radius: 24px;
  -ms-border-bottom-left-radius: 24px;
  -khtml-border-bottom-left-radius: 24px;
  border-bottom-left-radius: 24px;
  -moz-border-radius-bottomright: 24px;
  -webkit-border-bottom-right-radius: 24px;
  -o-border-bottom-right-radius: 24px;
  -ms-border-bottom-right-radius: 24px;
  -khtml-border-bottom-right-radius: 24px;
  border-bottom-right-radius: 24px;
}
/* line 541, ../../app/stylesheets/screen.scss */
body#home #why .col {
  width: 266px;
  margin-left: 24px;
  float: left;
}
/* line 547, ../../app/stylesheets/screen.scss */
body#home #why h2 {
  font-weight: bold;
  border-bottom: 0px;
}
/* line 552, ../../app/stylesheets/screen.scss */
body#home #packages {
  margin-top: 24px;
  clear: both;
}
/* line 555, ../../app/stylesheets/screen.scss */
body#home #packages .left {
  float: left;
  width: 252px;
  font-size: 18px;
  line-height: 26px;
}
/* line 561, ../../app/stylesheets/screen.scss */
body#home #packages .right {
  float: left;
  margin-left: 48px;
  width: 560px;
}
/* line 565, ../../app/stylesheets/screen.scss */
body#home #packages .right .home-pack {
  padding-left: 80px;
  position: relative;
  margin-bottom: 24px;
  min-height: 80px;
}
/* line 570, ../../app/stylesheets/screen.scss */
body#home #packages .right .home-pack span.icon {
  -moz-border-radius: 70px;
  -webkit-border-radius: 70px;
  -o-border-radius: 70px;
  -ms-border-radius: 70px;
  -khtml-border-radius: 70px;
  border-radius: 70px;
  background: black url(/images/pack_icons.png) 0 0 no-repeat;
  width: 54px;
  height: 54px;
  border: 6px double #b1b1b1;
  position: absolute;
  left: 0px;
  display: block;
}
/* line 580, ../../app/stylesheets/screen.scss */
body#home #packages .right .home-pack span.icon.photograph {
  background-position: -54px 0px;
}
/* line 583, ../../app/stylesheets/screen.scss */
body#home #packages .right .home-pack span.icon.restaurant {
  background-position: -108px 0px;
}
/* line 586, ../../app/stylesheets/screen.scss */
body#home #packages .right .home-pack span.icon.ecommerce {
  background-position: -162px 0px;
}
/* line 589, ../../app/stylesheets/screen.scss */
body#home #packages .right .home-pack span.icon.realty {
  background-position: -216px 0px;
}
/* line 592, ../../app/stylesheets/screen.scss */
body#home #packages .right .home-pack span.icon.villa {
  background-position: -270px 0px;
}
/* line 595, ../../app/stylesheets/screen.scss */
body#home #packages .right .home-pack span.icon.liberal {
  background-position: -324px 0px;
}
/* line 598, ../../app/stylesheets/screen.scss */
body#home #packages .right .home-pack span.icon.artisan {
  background-position: -378px 0px;
}
/* line 601, ../../app/stylesheets/screen.scss */
body#home #packages .right .home-pack span.icon.designer {
  background-position: -432px 0px;
}
/* line 605, ../../app/stylesheets/screen.scss */
body#home #packages .right h3 {
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
}

/* Mobile Layout: 320px.
   Gutters: 24px.
   Outer margins: 34px.
   Inherits styles from: Default Layout.  */
@media only screen and (max-width: 767px) {
  /* line 7, ../../app/stylesheets/partials/_mobile.scss */
  #body-container {
    width: 252px;
    padding: 48px 34px 60px;
  }

  /* line 8, ../../app/stylesheets/partials/_mobile.scss */
  .content-sidebar {
    width: 252px;
    margin-right: 24px;
  }

  /* line 9, ../../app/stylesheets/partials/_mobile.scss */
  aside {
    width: 252px;
  }
}
