<div class="row-fluid">
<div class="span6">
<h3><i class="icon-bullhorn icon-large"></i>Diaporama</h3>
<p>Vous pouvez ajouter une galerie d'images affichée sous forme de diaporama sur toutes les pages de votre site.&#160;Pour placer une image dans un diaporama il suffit de rechercher le fichier dans la bibliothèque d'images du site et de cliquer dessus. Les images s'ordonnent par simple cliqué/déposé.&#160;</p>
<p><img src="/images/cms_slideshow.jpg" title="cms_slideshow" alt="cms_slideshow" /></p>
<p>Le diaporama est totalement ajustable, via les options suivantes:</p>
<ul><li>taille des images</li>
<li>affichage des vignettes</li>
<li>choix du type de transition</li>
<li>durée d'affichage d'une image</li>
<li>ouverture dans une fenêtre</li>
<li>passer en plein écran</li>
<li>affichage du titre et légende</li>
<li>affichage des boutons de contrôle (jouer/pause/suivant/précédent)</li>
</ul>
<p>Le téléversement (upload) d'image est extrêmement simple et peut se faire image par image ou en groupe. Il suffit de sélectionner la ou les images sur votre ordinateur et d'appuyer sur le bouton de validation.</p>
<p><img src="/images/cms_upload.jpg" title="cms_upload" alt="cms_upload" /></p>
<p>Même s'il est&#160;préférable&#160;d'optimiser les images avant de les envoyer sur le serveur, le système GKO met en place toute une série d'action vérifiant la validité du fichier envoyé. Le système vérifie son poids, sa taille, sa résolution, son format et transforme le fichier pour le rendre compatible avec votre site. Si toutefois l'image ne peut être correctement mise à jour, la plateforme vous indique&#160;précisément&#160;pourquoi.<br />Si vous ne possédez pas de logiciel d'image pour préparer les fichiers, Jouf Design vous indiquera des outils gratuits en ligne ou hors ligne vous permettant de transformer vos images avant les ajouter à votre bibliothèque d'image.</p>
</div>
<div class="span6">
<h3><i class="icon-magic icon-large"></i>Design</h3>
<p>Nous créons des sites internet simples et clairs qui prennent en compte la qualité de l'expérience utilisateur.</p>
<p>Dans nos packages par activité (villa / restaurant / hôtel ...) nous proposons par défaut un modèle graphique appelé "template". Nous pouvons bien entendu développer un graphisme sur mesure en adéquation avec votre image de marque pour que votre site ai son propre template (sur devis).</p>
<p>Vous pouvez visiter la page des exemples pour voir quelques réalisations.</p>
</div>
</div>

<div class="row-fluid">
	<div class="span6">
	<h3><i class="icon-globe icon-large"></i>Multilingue</h3>
	<p>Les sites construits avec la plateforme GKO sont multilingues. Les packages par métier comprennent par défaut un site en français et anglais. <br>Si vous souhaitez ajouter une ou plusieurs nouvelles langues dès la création de votre site, ou plus tard au cour de sa vie, notre intervention est rapide et peu onéreuse. Vous pourrez alors faire traduire vos textes et les saisir depuis votre backoffice.</p>
	</div>
	<div class="span6">
	<h3><i class=" icon-heart icon-large"><i>Réseaux sociaux</h3>
	<p>Le référencement prend de plus en plus fortement en compte les interactions entre votre site et des sites de réseaux sociaux comme facebook.</p>
	</div>
</div>

<div class="row-fluid">
	<div class="span6">
	<h3><i class=" icon-heart icon-large"></i>Référencement</h3>
	<p>Créer un site c'est bien, le trouver sur Internet c'est mieux!&nbsp;</p>
	<p>Pour cela la solution de création de site Internet de Jouf Design intègre les outils nécessaires afin de fournir&nbsp;des informations détaillées aux moteurs de recherche et annuaires pour qu'ils indexent correctement votre site.</p>
	<p>Vous n'avez besoin d'aucune notion de référencement pour gérer votre site.&nbsp;La plateforme s'assure que chacune de vos pages soit&nbsp;référençable&nbsp;en&nbsp;complétant&nbsp;pour vous automatiquement les données nécessaires si vous ne les avez pas renseignées. Vous pouvez cependant intervenir manuellement sur chaque page de votre site afin d'affiner les différentes informations.</p>
	<p>
	<img src="/images/cms_seo.jpg" title="cms_seo" alt="cms_seo">
	</p>
	<p>Afin de renforcer le référencement votre site, la plateforme intègre également la ré-écriture des adresses url de chaque page. Ainsi l'adresse URL de chaque page devient plus pertinente pour les internautes et pour les moteurs de recherche car elle contient les mots clés que vous aurez indiqué, plutôt qu'une série de codes et de références.</p>
	<p>Si la qualité du contenu de votre site est primordiale à un bon référencement, il est aujourd'hui important de faire connaître son site sur les réseaux sociaux. A cette fin&nbsp;la plateforme intègre la possibilité de créer des liens FaceBook, Google et Twitter.</p>
	<p>Le système de Jouf Design prend également en compte un aspect plus technique dans l'optimisation du référencement de votre site. Cette aspect concerne la réduction du temps de chargement de chaque page qui pourrait sanctionner leur indexation par les moteurs de recherches s'il&nbsp;s'avérait&nbsp;excessif.</p>
	<p>Pour accélérer le temps de chargement la plateforme réalise,&nbsp;<strong>sans intervention de votre part</strong>, les opérations suivantes :</p>
	<ul><li>compression des fichiers externes (feuilles de style et fichiers javascript)</li>
	<li>redimensionnement, recadrage et mise en cache automatique des images pour chaque format d'image utilisé.</li>
	<li>mise en cache de chaque page (le cache est détruit et régénéré lorsque vous modifier une page)</li>
	</ul>
	</div>
	<div class="span6">
	<h3><i class="icon-heart icon-large"></i>Modulable</h3>
	<p>Les sites produits avec la plateforme de création de site "GKO" de Jouf Design sont compatibles avec les téléphones et tablettes mobiles du marché, tels que les iPad et iPhone.&nbsp;</p>
	<p><img src="/images/cms_ipod.png" title="cms_ipod" alt="cms_ipod"></p>
	<p>Du fait de la petite taille de leurs écrans, une version spécifique et optimisée est délivrée aux smartphones afin d'adapter la présentation des informations.&nbsp;<br>La création de cette version est totalement transparente — aucune action de votre part n'est nécessaire.</p>
	<p>Cette version optimisée vise notamment à minimiser la consommation des forfaits téléphoniques. Sur cette version "smartphone" la taille des images est évidemment optimisée automatiquement et les diaporamas sont délivrés à la demande.</p>
	</div>
</div>
<div class="row-fluid">
	<div class="span6">
	<h3><i class="icon-heart icon-large"></i>Modules</h3>
	<p>Le CMS "GKO" de Jouf Design est constitué de différents modules. L'assemblage de ces modules nous permettent de répondre aux besoins communs de la plupart de sites Internet.<br>Ainsi nos packs métiers regroupent différents modules pour répondre aux besoins de chaque secteur d'activités. D'autres modules peuvent venir s'ajouter à ces packs, comme par exemple le module blog.</p>
	</div>
	<div class="span6">
	<h3><i class="icon-bar-chart icon-large"></i>Statistiques</h3>
	<p>La plateforme GKO de Jouf Design vous permet d'analyser l'audience de votre site par l'utilisation du service <a href="http://www.google.com/intl/fr/analytics/" target="_blank">Google Analytics</a>.&nbsp;</p>
	<p>Cette solution complète et gratuite fournit des indications précieuses sur la fréquentation de votre site Web. Vous pouvez par exemple connaître le nombre de visites par jour, suivre l'évolution du trafic sur plusieurs mois, connaître le pays ou la ville d'origine des internautes qui visitent votre site, voir les pages les plus consultées, savoir d'où viennent vos visiteurs...</p>
	<p>Jouf Design a choisi Google Analytics car outre sa gratuité, il&nbsp;est le service d'analyse de trafic Web le plus utilisé, avec environ 85 % du marché mondial. <br>De plus il est désormais d'usage dans la vie d'un site de réaliser des opérations marketing sur l'Internet afin d'accroitre sa fréquentation. Dans cette optique Google Analytics&nbsp;couplé au service d'annonce de Google <a href="http://fr.wikipedia.org/wiki/AdWords" target="_blank">AdWords</a>&nbsp;facilite la conception de&nbsp;projet&nbsp;marketing par la rédaction d'annonces ciblées.</p>
	</div>
</div>


<div class="row-fluid">
	<div class="span6">
	<h3><i class=" icon-heart icon-large"></i>Assistance</h3>
	<p>Même si notre plateforme de création GKO est simple d'utilisation, vous découvrirez qu'un site internet reste un outil technique qui doit être bien structuré. </p>
	<p>Pour toute création de site utilisant le CMS GKO :</p>
	<ul><li>nous vous accompagnons dans la conception de la structure de votre site</li>
	<li>nous mettons en place la structure initiale des pages</li>
	<li>nous vous formons à l'utilisation de votre backoffice</li>
	<li>nous vous expliquons comment remplir les balises de référencement</li>
	</ul><p>Nous proposons également des prestations d'assistances plus complètes selon vos besoins.</p>
	</div>
	<div class="span6">
	<h3><i class="icon-leaf icon-large"></i>Modules</h3>
	<p>Le CMS "GKO" de Jouf Design est constitué de différents modules. L'assemblage de ces modules nous permettent de répondre aux besoins communs de la plupart de sites Internet.<br>Ainsi nos packs métiers regroupent différents modules pour répondre aux besoins de chaque secteur d'activités. D'autres modules peuvent venir s'ajouter à ces packs, comme par exemple le module blog.</p>
	</div>
</div>
<div class="row-fluid">
	<div class="span12">
	<h3>Sur mesure</h3>
	<p>La plateforme GKO de Jouf Design est une base de développement de site Internet. Elle permet de déployer des sites Internet plus rapidement et à moindre coût. Elle est  constituée de différents modules qui répondent à la majorité des besoins. Si toutefois votre site nécessite d'autres fonctionnalités que celles déjà existantes sur la plateforme nous pouvons développer des modules complémentaires répondant à vos besoins spécifiques.&nbsp;</p>
	<p>Pour chaque site nous créons généralement un design original. Cependant dans un soucis d'économie, nous proposons des modèles de design - customisable - avec le risque de voir plusieurs site avec le même design.</p>
	<p>Pour des exemples de site sur mesure vous pouvez <a href="http://joufdesign.com/portfolio" target="_blank">consulter le portfolio</a> de l'agence.</p>
	</div>
</div>